// .head-box{
//     background-color: #3f4c6b;
// }

header{
    background-color: rgba(0, 0, 0, 0.5);    
    height:120px;
}

.head-container{
    display: flex;
    justify-content: space-between;
}

.ul-nav-bar ul{
    display: flex;
    position: relative;
    top: 55%;
        li{
            color: white;
            font-size: large;
            padding: 0px 55px 0px 55px;
        }
}