.bottom-landing-page{
    background-color:rgba(0, 0, 0, 0.5);    
    height: 250px;
    display: block;
    border-radius: 5%;
    p{
        font-size:x-large;
        display: flex;
        justify-content: center;
        transform: translateY(200%);
        color: white;
    }
}


section{
    position: sticky;
    width: 20%;
    padding-left: 5%;
    padding-top: 5%;
}
