.first-logo img{
    width: 150px;
    padding-left: 20%;
}

.second-logo img{
    width: 100px;
    position: relative;
    top: 20px;
}

.picture-landing-page {
    display: flex;
    object-fit: contain;
    height: 78vh;
}