.first-logo img{
    width: 150px;
}

.second-logo img{
    width: 150px;
    position: relative;
    bottom: 10%;
}

.picture-landing-page {
    display: flex;
    object-fit: contain;
    height: 78vh;
}